@model List<Pertrecho>
@{
    ViewData["Title"] = "Listado Pertrechos";
}

<h1>Listado de Pertrechos Registrados</h1>

<h3>Cantidad de Equipo Registrado: @Model.Sum(e => e.Cantidad)</h3>

<table class="tbl">
    <thead>
        <tr>
            <th>Accion</th>
            <th>Pertrecho ID</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Almacen</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Pertrechoitem in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" >Editar</a>
                </td>
                <td>
                    @Pertrechoitem.IdPertrechos
                </td>
                <td>
                    @Pertrechoitem.PertrechosDescripcion
                </td>
                <td>
                    @Pertrechoitem.Cantidad
                </td>
                <td>
                    @Pertrechoitem.IdAlmacen
                </td>
                
               
            </tr>
        }
    </tbody>
</table>