@{
    // Aquí puedes definir variables de Razor o realizar configuraciones iniciales si es necesario
}

    <meta charset="UTF-8">
    <title>Certificación de No Posesión de Arma</title>
    <link rel="stylesheet" href="~/css/style.css"> <!-- Asegúrate de tener este archivo CSS para los estilos -->


    <div>
        <h5 id="searchModalLabel">Buscar Miembro Para Certificación de No Posesión de Arma</h5>
        <input type="text" id="searchByName" class="form-control" placeholder="Ingrese un nombre" />
        <input type="text" id="searchByCedula" class="form-control" placeholder="Ingrese una cédula" />
        <button type="button" class="btn btn-primary" onclick="searchMember()">Buscar</button>
    </div>
    <div id="notification"></div>

    <div class="mb-3">
        <label for="AsignacionNombreCert">Nombre:</label>
        <select id="AsignacionNombreCert" name="AsignacionNombreCert" class="form-select">
            <!-- Las opciones se cargarán aquí -->
        </select>
    </div>

    <div class="content">
        <p>Form. No 25, ARD.</p>
        <h2>ARMADA DE REPÚBLICA DOMINICANA</h2>
        <h3>RECIBO MEMORANDUM</h3>
        <p>Santo Domingo, Este.</p>
        <p>Lugar</p>
        <div class="line">------------------------</div>
        <p>@ViewBag.fecha</p>
        <p>Fecha</p>
        <div class="line">------------------------</div>
        <p>ACUSO RECIBO AL, INTENDENTE DEL MAT.BELICO, ARD</p>
        <div class="line">------------------------</div>
        <p>De los efectos siguientes para uso oficial del @ViewBag.rango @ViewBag.nombreCompleto</p>
        <p>propiedades de la Armada de la ARD y me comprometo a devolverlos cuando sean requeridos por la autoridad competente.</p>

        <div class="line">------------------------</div>

        <h3>CANTIDAD    ARTICULO    VALOR</h3>
        <ul>
            @foreach (var weaponDetail in ViewBag.WeaponDetails)
            {
                <li>@weaponDetail</li>
            }
        </ul>
        <div class="line">-x-x-x-x-x-x-x-x-x-x-x-x--x-x-x-x-x-x-x-x-</div>
        <p>Nota: CARGADA MEDIANTE OFICIO NO. @ViewBag.NoOficio,</p>
        <p>DE FECHA @ViewBag.FECHAASIGNACION, DEL COMANDANTE GENERAL,</p>
        <p>PARA SERVICIO CON EL @ViewBag.NOMBRESERVICIO, ARD</p>

        <h2>@ViewBag.NOMBRECOMPLETO</h2>
        <h3>@ViewBag.rango</h3>
        <p>@ViewBag.Cedula</p>
        <p>@ViewBag.direccion, TEL. @ViewBag.tel.</p>

        <h2>@ViewBag.Director</h2>
        <h3>@ViewBag.rango Director</h3>
        <p>INTENDENTE DEL MAT.BELICO, ARD</p>

        <div class="actions">
            <form asp-controller="Certification" asp-action="ReportIdCard" method="post" target="_blank">
                <button type="submit" class="btn btn-primary">Imprimir en Pantalla</button>
            </form>
            <a asp-controller="Certification" asp-action="ReportIdCard" class="btn btn-success" style="background-color:red">Exportar a PDF</a>
        </div>
    </div>

