@model List<VArma>
@{
    ViewData["Title"] = "Listado Armas";
}

<h1>Listado de Armas Registrados</h1>

<table class="tbl">
    <thead>
        <tr>
            <th>Accion</th>
            <th>Arma ID</th>
            <th>Tipo Arma</th>
            <th>Marca</th>
            <th>Calibre</th>
            <th>Serie</th>
            <th>Almacen</th>
            <th>Estado</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var armaitem in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" >Editar</a>
                </td>
                <td>
                    @armaitem.IdArma
                </td>
                <td>
                    @armaitem.TaNombre
                </td>
                <td>
                    @armaitem.ArmaMarcaDescripcion
                </td>
                <td>
                    @armaitem.ArmaCalibre
                </td>
                <td>
                    @armaitem.ArmaSerie
                </td>
                <td>
                    @armaitem.AlmacenDescripcion
                </td>
                <td>
                    @armaitem.ArmaEstadoDescripcion
                </td>
                <td>
                    @if (@armaitem.ArmaStatus)
                    {
                        <b>Activo</b>
                    }else{
                    <b>Desactivado</b>}
                </td>
               
            </tr>
        }
    </tbody>
</table>