@model List<VArma>
@{
    ViewData["Title"] = "Listado Armas";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ddlTipoArma = document.querySelector('#ddlTipoArma');
        var ddlMarca = document.querySelector('#ddlMarca');
        var ddlCalibre = document.querySelector('#ddlCalibre');
        var ddlAlmacen = document.querySelector('#ddlAlmacen');

        ddlTipoArma.addEventListener('change', function () {
            filterData();
        });

        ddlMarca.addEventListener('change', function () {
            filterData();
        });

        ddlCalibre.addEventListener('change', function () {
            filterData();
        });

        ddlAlmacen.addEventListener('change', function () {
            filterData();
        });

        function filterData() {
            var tipoArma = ddlTipoArma.value;
            var marca = ddlMarca.value;
            var calibre = ddlCalibre.value;
            var almacen = ddlAlmacen.value;

            // For simplicity, filtering the data on the client side using JavaScript and update the table accordingly
            var filteredData = @Html.Raw(Json.Serialize(Model)); // Convert Model to a JavaScript object

            if (tipoArma !== "") {
                filteredData = filteredData.filter(function (item) {
                    return item.taNombre === tipoArma;
                });
            }

            if (marca !== "") {
                filteredData = filteredData.filter(function (item) {
                    return item.armaMarcaDescripcion === marca;
                });
            }

            if (calibre !== "") {
                filteredData = filteredData.filter(function (item) {
                    return item.armaCalibre === calibre;
                });
            }

            if (almacen !== "") {
                filteredData = filteredData.filter(function (item) {
                    return item.almacenDescripcion === almacen;
                });
            }

            // Render the filtered data in the table
            renderTable(filteredData);
        }

        function renderTable(data) {
            var tbody = document.querySelector('#TablaArmas tbody');
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild); // Clear the table body
            }

            data.forEach(function (item) {
                // Render table rows based on the filtered data
                var row = document.createElement('tr');
                row.innerHTML = '<td><a class="btn btn-primary">Editar</a></td>' +
                    '<td>' + item.idArma + '</td>' +
                    '<td>' + item.taNombre + '</td>' +
                    '<td>' + item.armaMarcaDescripcion + '</td>' +
                    '<td>' + item.armaCalibre + '</td>' +
                    '<td>' + item.armaSerie + '</td>' +
                    '<td>' + item.almacenDescripcion + '</td>' +
                    '<td>' + item.armaEstadoDescripcion + '</td>' +
                    '<td><b>' + (item.armaStatus ? 'Activo' : 'Desactivado') + '</b></td>';

                tbody.appendChild(row); // Append the row to the table
            });
        }
    });
</script>

<div class="row">
    <div class="col-6">
        <h1>Listado de Armas Registrados</h1>
    </div>
    
    <div class="col d-flex justify-content-end align-items-center">

        <a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#searchModal">
            <i class="fas fa-search"></i> Exportar Arma
        </a>
        <a asp-controller="Arma" asp-action="ExportExcel" class="btn btn-success me-2"> <i class="fas fa-file-excel"></i> Exportar a Excel</a>
        <a asp-controller="Arma" asp-action="ExportPDf" class="btn btn-success"  style="background-color: #0D6EFD" "><i class="fas fa-file-pdf"></i> Exportar a PDF</a>
    </div>
</div>

<div class="row mt-3 mb-2">
    <div class="col-md-3">
        <label for="ddlTipoArma"><strong>Tipo de Arma:</strong></label>
        <select id="ddlTipoArma" class="form-control">
            <option value="">Todos</option>
            @foreach (var tipoArma in ViewBag.ddTipoArmaOptions)
            {
                <option value="@tipoArma">@tipoArma</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label for="ddlMarca"><strong>Marca:</strong></label>
        <select id="ddlMarca" class="form-control">
            <option value="">Todos</option>
            @foreach (var marca in ViewBag.ddMarcaOptions)
            {
                <option value="@marca">@marca</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label for="ddlCalibre"><strong>Calibre:</strong></label>
        <select id="ddlCalibre" class="form-control">
            <option value="">Todos</option>
            @foreach (var calibre in ViewBag.ddCalibreOptions)
            {
                <option value="@calibre">@calibre</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label for="ddlAlmacen"><strong>Almacen:</strong></label>
        <select id="ddlAlmacen" class="form-control">
            <option value="">Todos</option>
            @foreach (var almacen in ViewBag.ddAlmacenOptions)
            {
                <option value="@almacen">@almacen</option>
            }
        </select>
    </div>
</div>

<table class="table table-striped table-hover" id="TablaArmas">
    <thead>
        <tr>
            <th>Accion</th>
            <th>Arma ID</th>
            <th>Tipo Arma</th>
            <th>Marca</th>
            <th>Calibre</th>
            <th>Serie</th>
            <th>Almacen</th>
            <th>Estado</th>
            <th>Estatus</th>
            <th>Imagene 1</th>
            <th>Imagene 2</th>
            <th>Imagene 3</th>
            <th>Imagene 4</th>
            <th>Serial</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var armaitem in Model)
        {
            <tr>
                <td><input type="checkbox"></td>
                <td>@armaitem.IdArma</td>
                <td>@armaitem.TaNombre</td>
                <td>@armaitem.ArmaMarcaDescripcion</td>
                <td>@armaitem.ArmaCalibre</td>
                <td>@armaitem.ArmaSerie</td>
                <td>@armaitem.AlmacenDescripcion</td>
                <td>@armaitem.ArmaEstadoDescripcion</td>
                <td>@(armaitem.ArmaStatus ? "Activo" : "Desactivado")</td>
                <td><img src="~/Images/@armaitem.ImagePath1" style="block-size: 55px" /></td>
                <td><img src="~/Images/@armaitem.ImagePath1" style="block-size: 55px" /></td>
                <td><img src="~/Images/@armaitem.ImagePath1" style="block-size: 55px" /></td>
                <td><img src="~/Images/@armaitem.ImagePath1" style="block-size: 55px" /></td>
                <td><img src="~/Images/@armaitem.BarcodePath" style="block-size: 55px" /></td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 90%; width: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Buscar Arma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <form id="searchForm" asp-action="SearchArma" method="get" class="form-group">
                    <div class="form-group">
                        <label for="inputSerieArma">Serie Del Arma</label>
                        <input type="text" name="serie" class="form-control" id="inputSerieArma" placeholder="Digite la Serie del Arma">
                        <small id="serieHelp" class="form-text text-muted">Debe asegurarse de ingresar correctamente la serie del arma.</small>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
                </form>

                <div id="partialViewContainer">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="ExportOneArma" href="#" class="btn btn-success">
                    <i class="fas fa-file-excel"></i> Confirmar Exportación
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('searchForm');
            const partialViewContainer = document.getElementById('partialViewContainer');
            const exportLink = document.getElementById('ExportOneArma');

            form.addEventListener('submit', function (e) {
                e.preventDefault();
                const serie = document.getElementById('inputSerieArma').value;

                fetch(`/Arma/SearchArma?serie=${serie}`)
                    .then(response => response.text())
                    .then(html => {
                        partialViewContainer.innerHTML = html;

                        // Suponiendo que la serie del arma se encuentra en la quinta columna (index 4)
                        const serieArma = document.querySelector('#partialViewContainer tbody tr td:nth-child(5)').textContent.trim();
                        exportLink.href = `/Arma/ExportOneArma?serie=${serieArma}`;
                    });
            });
        });
    </script>
}

