<!DOCTYPE html>
<html id="html" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - BelicoSysApp</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BelicoSysApp.styles.css" asp-append-version="true" />
</head>

<body id="body">
    <div class="bg-white" >
    <div style="width: 100%; height: auto; text-align: center;"> 
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/img/logo.png" width="100" />
        </a>
    </div>
    <div style="width: 100%; height: auto; text-align: center;">
        <h4>ARMADA DE REPÚBLICA DOMINICANA</h4>
        <h6>UNA PROFESIÓN HONORABLE</h6>
        <h6>INTENDENCIA DEL MATERIAL BÉLICO</h6>
        <h6>Sistema de Inventario, Cargo y Descargo de Armas</h6>
    </div>
    
     <nav class="navbar  navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!--
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ARD</a>
                    -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Armas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("ArmaCreate","Arma")">Registro de Arma</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ArmaReport","Arma")">Reportes</a></li>
                            @* <li><a style="dropdown-item" class="dropdown-item" href="@Url.Action("ArmaUpdate","Arma")">Actualizacion</a></li> *@
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pertrechos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("PertrechoCreate","Pertrecho")">Registro de Pertrecho</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("PertrechoReport","Pertrecho")">Reportes</a></li>
                            <li><a style="dropdown-item" class="dropdown-item" href="@Url.Action("PertrechoUpdate","Pertrecho")">Actualizacion</a></li>
                           @*  <li><a style="color:gray" class="dropdown-item" href="#">Petrechos para Descargo</a></li> *@
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Asignaciones
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("DescargoArma","Asignacion")">Consulta Arma Militar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("AsignacionCreate","Asignacion")">Asignar Arma</a></li>
                            @* <li><a style="color:gray"  class="dropdown-item" href="#">Asignar Arma a Departamentos</a></li>
                            <li><a style="color:gray"  class="dropdown-item" href="@Url.Action("DescargoArma","Asignacion")">Consulta Arma Civiles</a></li> *@
                            <li><a class="dropdown-item" href="@Url.Action("AsignacionReport","Asignacion")">Reportes</a></li>
                            <li><a  class="dropdown-item" href="@Url.Action("AsignacionOrden","Asignacion")">Ordenes</a></li>
                            <li><a  class="dropdown-item" href="@Url.Action("AsignacionOLista","Asignacion")">Consultar Orden</a></li>
                        </ul>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Certificaciones
                        </a>
                        <ul class="dropdown-menu">
                            @* <li><a class="dropdown-item" href="@Url.Action("CertificationS","Certification")">Certificacion Posesion de Arma</a></li> *@
                            @* <li ><a class="dropdown-item" href="@Url.Action("xCert","Certification")">Certificacion No Arma</a></li> *@
                            <li><a class="dropdown-item" href="@Url.Action("CertPos","Certification")">Form.25</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="nav-link active" style="margin-right: 15px" onclick="location.href='@Url.Action("Index","Home")'"> Inicio </a>
                
                <a class="nav-link active" onclick="location.href='@Url.Action("Logout","Account")'"> Salir </a>
            </div>
        </div>
    </nav> 
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }

    <!-- 
    <header>
        <nav class=" navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div id="menucontainer" class="container-fluid">
                <a id="mainmenu"class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Material Belico, ARD</a>
                <h3 style="color:#ffff">(Sistema de Inventario y Cargo de Armas)</h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </div>
        </nav>
    </header>
    -->

    <div class="container mt-5 pt-2 border rounded " style="background: white; width: auto;">
       @RenderBody()
    </div>

    <footer id="footer" class="border-top footer text-muted bg-primary">
        <div class="container text-white" style="text-align:center">
            &copy; 2023 - Dirreción de Tecnología (TIC), ARD.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
