@model AsignacionArma
@{
    ViewData["Title"] = "Sistema de Registro Arma";
}


    <!-- Button to trigger the modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal">
  Consultar Miembros
</button>

<!-- The modal dialog -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Buscar Nombre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="searchInput" name="nombre" class="form-control" placeholder="Enter a name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>      
       <button type="button" class="btn btn-primary" onclick="loadDropdownData2()">Buscar</button>       
      </div>
    </div>
  </div>
</div> *@
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>
        // Call the JavaScript function to display the notification
        showNotification('@Html.Raw(ViewBag.SuccessMessage)');
    </script>
}    
 @*    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div> *@
<div>
<h5 class="modal-title" id="searchModalLabel">Buscar Miembro</h5>

<div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <input type="text" id="searchInput" name="No Carnert" class="form-control" placeholder="Ingresar el Carnet" />
        </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <input type="text" id="searchInput2" name="cedula" class="form-control" placeholder="Ingresar la Cedula" />
    </div>
</div>

<button type="button" class="btn btn-primary" onclick="loadDropdownData2()">Buscar</button>

</div>

<div id="notification" class="notification"></div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Asignacion" asp-action="AsignacionCreate" method="post" enctype="multipart/form-data">

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label class="form-label" for="AsignacionNombre">Nombre:</label>
        <select class="form-select" id="AsignacionNombre" name="AsignacionNoRango" onclick="loadDocData()">
        </select>
        <input type="hidden" name="AsignacionNoRango"  />
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="AsignacionDocumento" id="AsignacionDocumento" >Documento:</label>
        <input type="hidden"  class="form-control" id="AsignacionDocumento1" name="AsignacionDocumento"  />
    </div>

    <div class="mb-3">
        <label class="form-label" id="Asignacionrango" for="Asignacion_rango">Rango:</label>
        <input type="hidden" id="Asignacionrango1" name="AsignacionRango" readonly />
     </div>

    <div class="mb-3">
        <label class="form-label" id="AsignacionNoRango" for="AsignacionNoRango">NoMilitar:</label><br />
        <input type="hidden" id="AsignacionNoRango1" name="AsignacionNombre" readonly />
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label class="form-label" >Arma serial:</label>
        <input type="text" id="searchArmaInput" class="form-control" placeholder="Entra el serial del arma" /><br />
        <button type="button" class="btn btn-primary" onclick="loadDropdownArma()">Buscar</button><br />    
        <input type="hidden" id="IdArma1" name="IdArma" /><br />
        <label class="form-label" id="calibre">Calibre:</label> 
        <label class="form-label" id="armaTipo">Tipo:</label> 
        <label class="form-label" id="armaMarca">Marca:</label>        
    </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label class="form-label" for="IdPertrechos">Pertrecho:</label>
        <select class="form-control" id="IdPertrechos" name="IdPertrechos" asp-items="@ViewBag.pertrecho">
            <option value="">Selecciona Tipo</option>            
        </select>
        <input type="hidden" name="IdPertrechos" />
            <br />
        <button type="button" class="btn btn-primary" onclick="addValue();">Agregar</button>
        
        <div id="valuesTable" class="mt-3"></div>
        </div>
    </div>

    @*     <div class="mb-3">
        <label class="form-label" for="AsignacionEstado">Estado de Asignacion:</label>
        <select class="form-control" id="AsignacionEstado" name="AsignacionEstado" asp-items="@ViewBag.AsignacionEstado">
            <option value="0">Selecciona Tipo</option>
        </select>
        <input type="hidden" name="AsignacionEstado" />
    </div> *@

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label class="form-label" for="AsignacionTipo">Tipo de Asignacion:</label>
        <select class="form-control" id="AsignacionTipo" name="AsignacionTipo" asp-items="@ViewBag.AsignacionTipo">
            <option value="0">Selecciona Tipo</option>
        </select>
        <input type="hidden" name="AsignacionTipo" />
    </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label class="form-label" for="NotaAsignacion">Nota:</label>
        <input class="form-control" type="text" id="NotaAsignacion" name="NotaAsignacion" />
    </div>
@*     <div class="mb-3">
        <label class="form-label" for="FechaAsignacion">Fecha Asignacion:</label>
        <input class="form-control" type="date" id="FechaAsignacion" name="FechaAsignacion" />
    </div> *@
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label class="form-label" for="FechaDevolucion">Fecha Devolucion:</label>
        <input class="form-control" type="date" id="FechaDevolucion" name="FechaDevolucion" />
    </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <label for="imageFile">Subir Documento:</label>
        <input type="file" name="imageFile" />
        </div>
    </div>
   
    <!-- Repeat the above pattern for the remaining fields -->
    <div id="btnCrear"><input class="btn btn-primary" type="submit" value="Crear" />
</div>
        
</form>





