@model List<AsignacionArma>
@{
    ViewData["Title"] = "Listado Armas";
}


<h1>Listado de Armas Registrados</h1> 
<button class="btn btn-success mt-2" onclick="exportToExcel()">Export to Excel</button>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Accion</th>
            <th>Arma ID</th>
            <th>MilitarID</th>
            <th>Nombres</th>
            <th>Documento</th>
            <th>Fecha Asignacion</th>
            <th>Documento</th>
            <th>Nota</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var armaitem in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" >Editar</a>
                </td>
                <td>
                    @armaitem.IdArma
                </td>
                <td>
                    @armaitem.AsignacionNoRango
                </td>
                <td>
                    @armaitem.Asignacion_rango
                </td>
                <td>
                    @armaitem.AsignacionNombre
                </td>
                <td>
                    @armaitem.AsignacionDocumento
                </td>
                <td>
                    @armaitem.FechaAsignacion
                </td>
                <td>
                    @armaitem.NotaAsignacion
                </td>
                <td>
                    @if (@armaitem.AsignacionStatus)
                    {
                        <b>Activo</b>
                    }else{
                    <b>Desactivado</b>}
                </td>
               
            </tr>
        }
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.13/dist/xlsx.full.min.js"></script>