<h2>Consulta de Arma Asignada y Descargo</h2>

 @*   <!-- Button to trigger the modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal">
  Consulta Miembros
</button>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- The modal dialog -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Buscar Nombre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="searchInput" name="nombre" class="form-control" placeholder="Enter a name" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>      
       <button type="button" class="btn btn-primary" onclick="loadDropdownData()">Buscar</button>       
      </div>
    </div>
  </div>
</div> *@

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>
        // Call the JavaScript function to display the notification
        showNotification('@Html.Raw(ViewBag.DeleteMessage)');
    </script>
}
<div style="display:block; align-content:center; align-items:center; text-align: center">
    <h5 class="modal-title" id="searchModalLabel">Buscar Miembro</h5>
    <input type="text" id="searchInput" name="No Carnet" class="form-control" placeholder="Entrar No Carnet" />
                                          O
    <input type="text" id="searchInput2" name="cedula" class="form-control" placeholder="Entrar No Cedula Sin guiones" />
    <br />
    <button type="button" class="btn btn-primary" onclick="loadDropdownData()">Buscar</button>
</div>


<div id="notification" class="notification"></div>


<div>
    <form asp-controller="Asignacion" asp-action="DescargoArma" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label class="form-label" for="MilitarNo">Nombre:</label>
            <select class="form-control" id="MilitarNo" name="MilitarNo">
        </select>
        <input type="hidden"  name="MilitarNo"  />
    </div>
    <button type="submit" class="btn btn-primary" >Elegir</button>
    </form>
    <p>Militar NO: @ViewBag.noM</p>
    <p>Rango: @ViewBag.desc_rango</p>
    <p>Name: @ViewBag.Nombres</p>
    <p>Cedula: @ViewBag.Cedula</p>
    <p>Departamento: @ViewBag.Dept</p>
    <p>Celular: @ViewBag.Tel</p>    
    <!-- Add any other person information fields you have -->

    <h3>Armas Asignadas</h3>
@if (ViewBag.count != 0){
        <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Accion</th>
            <th>Arma ID</th>
            <th>Tipo Arma</th>
            <th>Marca</th>
            <th>Calibre</th>
            <th>Serie</th>
            <th>Almacen</th>
            <th>Estado</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var armaitem in ViewBag.Arma)
        {
            <tr>
                <td>
                            <a class="btn btn-primary" id="descargo" onclick="borrarAsignacion(@armaitem.IdAsignacion)">Descargar</a>
                </td>
                <td>
                    @armaitem.IdArma
                </td>
                <td>
                    @armaitem.TaNombre
                </td>
                <td>
                    @armaitem.ArmaMarcaDescripcion
                </td>
                <td>
                    @armaitem.ArmaCalibre
                </td>
                <td>
                    @armaitem.ArmaSerie
                </td>
                <td>
                    @armaitem.AlmacenDescripcion
                </td>
                <td>
                    @armaitem.ArmaEstadoDescripcion
                </td>
                <td>
                    @if (@armaitem.ArmaStatus)
                    {
                        <b>Activo</b>
                    }else{
                    <b>Desactivado</b>}
                </td>
            </tr>
        }   
    </tbody> 
   </table>
   }
   else
    {   <table>
        <tbody>
        <tr>
        <td>No se encuentran Armas Para este usuario</td>
     </tr>
     </tbody>
     </table>


    }


    <h3>Pertrechos Asignadas</h3>
    @if (ViewBag.count != 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Accion</th>
                    <th>Pretrecho ID</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var armaitemP in ViewBag.Pertrecho)
                {
                    <tr>
                        <td>
                            <a class="btn btn-primary">Descargar</a>
                        </td>
                        <td>
                            @armaitemP.IdArma
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table>
            <tbody>
                <tr>
                    <td>No se encuentran Pertrechos Para este usuario</td>
                </tr>
            </tbody>
        </table>


    }
    
</div>

